/*CSS*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

/* header section */

header {
  position: fixed;
  top: 0;
  z-index: 1400;
  width: 100%;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5rem);
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
}

.nav-list-mobile {
  display: none;
}

.nav-link {
  font-size: 1.4rem;
  color: #fff;
  padding: 0 1rem;
  transition: opacity 0.5s;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link-apple {
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/icons/apple-icon.png") center no-repeat;
  background-color: black;
}

.nav-link-search {
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/icons/search.svg") center no-repeat;
}

.nav-link-bag {
  width: 1.4rem;
  height: 4.4rem;
  background: url("images/icons/bag-icon.png") center no-repeat;
}
/* ribbon banner */

.section-content-covid {
	width: 100%;
	max-width: 100%;
}

.section-content {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	margin: 0 auto;
	text-align: center;
	max-width: 900px;
}
.covid-ribbon-copy.variant{
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
@media only screen and (max-width: 1068px) {
.section-content {
		width: 692px;
		max-width: 643px;
	}
}

@media only screen and (max-width: 734px) {
.section-content {
		width: 82.5%;
		
	}
}

/* large */
.ribbon-covid-19 {
    background-color: #f5f5f7;
    display: flex;
	align-items: center;
}

.covid-ribbon-copy {
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding: 12px 0;
	color: #1d1d1f;
}

.covid-ribbon-copy a {
	color: #06c;
}

.ribbon-link {
	white-space:nowrap;
}

/* medium */
@media screen and (max-width: 1068px) and (min-width: 735px) {
	.covid-ribbon-copy.variant {
		padding-right: 20px;
		padding-left: 20px;
		max-width: 740px;
	}
}

/* small */
@media only screen and (max-width: 734px) {
	.covid-ribbon-copy {
		width: 96%;
		max-width: 290px;
		padding: 10px 0;
	}
	.covid-ribbon-copy.variant {
		max-width: 620px;
	}
}

/* iphone13pro section */

.iphone-13-pro {
  padding-top: 5em;
  font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

  background: url("images/product/iphone-3-pro.png");
  font-size: 21px;
}

.title {
  color: #fff;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading {
  font-size: 5.6rem;
  line-height: 1.08;
  letter-spacing: 0.005rem;
}

.title-sub-heading {
  font-size: 2.65rem;
  margin-top: 0.6rem;
  letter-spacing: 0.008rem;
  font-weight: 400;
}

.cta {
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link {
  color: #06c;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:nth-child(2) {
  margin-left: 2.6rem;
}

.cta-link:hover {
  border-bottom: 2px solid #086ec2;
}

/* iphone 13 section */

.iphone-13 {
  margin: 1em;
  background: url("images/product/iphone-13.png");
 background-size: 50% 70%;
 background-color: rgb(46, 45, 45);
 
}
.title-sub-heading-pink{
  color: #fec2eb;
  font-size: 28px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
  letter-spacing: .004em;
}
.title-dark {
  color: black;
}
.title-white {
  color: white;
}
.cta-link-darker {
  color: #0070c9;
}

.cta-link-darker:hover {
  border-bottom-color: #0070c9;
}

/* apple watch */

.watch {
  margin: 1rem;
  background: url("images/product/watch.jpg");
  background-color: #fbfbfd;
  background-position-x: center;
  background-position-y: center;
  background-size: 40%;
}

.title-heading-watch {
  height: 7.8rem;
  background: url("images/product/") center no-repeat;
  background-size: auto 7.8rem;
  margin-top: 1.6rem;
}
.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: [col] 50px [col] 50px [col] 50px [col] 50px  ;
  grid-template-rows: [row] auto [row] auto [row] ;
  background-color: #fff;
  color: #444;
}
.box {
  background-color: rgb(243, 237, 237);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 100%;

}

.a {
  grid-column: col / span 5;
  grid-row: row ;
}
.b {
  grid-column: col 5 / span 4 ;
  grid-row: row ;
}
.c {
  grid-column: col / span 5;
  grid-row: row 2 ;
}
.d {
  grid-column: col 5 / span 4 ;
  grid-row: row 2 ;
}
.e {
  grid-column: col / span 9 ;
  grid-row: row 3 ;
}

.fitness {
  background: url("images/product/fitness.png");
  background-position-x: bottom;
  background-position-y: bottom;
  background-size: 90%;

}
.ipad {
  background: url("images/product/ipad.png");
  background-position-x: bottom;
  background-position-y: bottom;
  background-size:110%;

}
.university {
  background: url("images/product/unidays.png");
  background-position-x: bottom;
  background-position-y: bottom;
  background-size: 70%;

}
.imac {
  background: url("images/product/imac.jpg");
  background-position: center;
  background-size: 140%;

}
.footer-nav {
  background: url("images/product/footer.png");
  background-position: center;
  background-size: 90%;
  background-color: rgb(243, 242, 242);
}
footer {
  margin-top: 0.5em;
  box-sizing: border-box;
  align-items: baseline;
  flex-direction: row;
  background-color: rgb(253, 250, 250);
  color: rgb(59, 55, 55);
  font-size: medium;
}

li.footer-links {
  align-items: baseline;
  flex-direction: row;
}
/* Move this to bottom of style.css file always */
.product {
  height: 69.2rem;
  background-size: auto 74;
  background-position: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
}



/* end  */

/* TABLET view */

@media screen and (max-width: 1024px) {
  .iphone-13-pro {
    background: url("images/product/");
  }
  .iphone-13 {
    background: url("images/product/");
  }
  .watch {
    background: url("images/product/");
  }
  .imac {
    background: url("images/product/");
  }
  .product {
    height: 65rem;
    background-size: auto;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .title-heading {
    font-size: 4.4rem;
  }

  .title-sub-heading {
    font-size: 2.4rem;
  }

  .title-sub-heading-pink {
    font-size: 2.4rem;
    text-decoration-color: violet;
  }
  .cta-link:nth-child(2) {
    margin-left: 2rem;
  }

  .title-heading-watch {
    height: 6.2rem;
    background: url("images/product/") center no-repeat;
    background-size: auto 6.2rem;
  }
}

/* MOBILE VIEW  */

@media screen and (max-width: 640px) {
  header {
    height: 4.8rem;
    transition: 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
  }

  header .container {
    padding: 0;
  }

  .imac {
    margin-top: 4.8rem;
  }

  .nav-list {
    margin-top: 0;
  }

  .nav-list-mobile {
    display: flex;
  }

  .nav-item {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
  }

  .nav-item-hidden {
    display: none;
  }

  .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .line {
    position: absolute;
    width: 1.7rem;
    height: 1px;
    background-color: white;
    transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }

  .line-top {
    margin-top: 3px;
  }

  .line-bottom {
    margin-top: -0.4rem;
  }

  .active .line-top {
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  .active .line-bottom {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }

  header.active {
    height: 100%;
    background-color: black;
  }

  .nav-link-apple {
    width: 1.8rem;
    height: 4.8rem;
    position: relative;
    z-index: 1500;
  }

  .nav-link-bag {
    width: 1.6rem;
    height: 4.8rem;
    transition: opacity 3s;
  }

  .nav {
    position: relative;
  }

  .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto;
  }

  .nav-list-larger {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    transition: opacity 0.3s;
  }

  .active .nav-list-larger {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }

  .active .nav-list-bag {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .nav-list-larger .nav-item {
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  .nav-list-larger .nav-item:nth-child(9) {
    border-bottom: none;
  }
  .active .nav-list-larger .nav-item {
    animation: fadeIn 1s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 640px) {
  .iphone-13-pro {
    background: url("images/product/");
  }
  .iphone-13 {
    background: url("images/product/");
  }
  .watch {
    background: url("images/product/");
  }
  .imac {
    background: url("images/product/");
  }
  .product {
    height: 54rem;
    background-size: auto 55rem;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .title {
    padding: 3.7rem;
  }

  .title-heading {
    font-size: 3.2rem;
  }
  .title-sub-heading {
    font-size: 1.9rem;
  }
  .title-heading-watch {
    margin-top: -0.5rem;
    margin-bottom: 0;
  }
  .watch-subheading-red {
    text-decoration-color: red;
  }

  .cta {
    margin-top: 0.7rem;
  }

  .cta-link {
    font-size: 1.9rem;
  }
}
